@import url('https://fonts.googleapis.com/css?family=Montserrat:300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

body{
    background: #24253a;
}

li, a, button{
    font-family: "Montserrat", sans-serif;
    font-weight: 100;
    font-size: 16px;
    color: #edf0f1;
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background: #2a2b3d;
}

.nav_links {
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    color: #edf0f1;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

#contact {
    padding: 9px 25px;
    background: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#contact:hover {
    background-color: rgba(44, 73, 80, 0.8);
}

.head-text {
    display: block;
}

.head-p {
    background-image: url("assests/Başlıksız-1.png");
    height: 635px;
}

#mText {
    color: #edf0f1;
    padding: 15% 10% 5% 10%;
}

#sText {
    color: #edf0f1;
    padding: 0% 10%;
}

#logo {
    margin: -25% 0% 0% 60%;
    width: 300px;
    height: 300px;
}

#get_started {
    background: none;
    width: 120px;
    height: 50px;
    margin-top: 5%;
    margin-left: 10%;
    border: 2px solid #42cc6b;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    color: #42cc6b;
}

#get_started:hover{
    color: #edf0f1;
    background: #42cc6b;
}

#services {
    background: #323ace;
    justify-content: center;
    align-items: center;
}

#services h1 {
    padding: 5% 0 5% 45%;
    color: #edf0f1;
}

.services-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.services-ul li {
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 350px;
    height: 450px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    border: 2px solid rgb(39, 133, 47);
    border-radius: 4px;
    margin: 20px;
    box-sizing: border-box;
    background-color:#2a2b3d;/*#2a2b3d;*/
    overflow: hidden;
}

.services-ul li .icons {
    width: 300px;
    height: 200px;
    margin: 15% 0 0 3%;
}

.services-ul li p {
    margin: 10% 0 0 25%;
}

#ser-p {
    margin-left: 13%;
}

#projects {
    height: 600px;
    background: #144855;
}

#projects h1 {
    padding: 5% 0 5% 45%;
    color: #edf0f1;
}

.projects-ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projects-ul li {
    overflow: hidden;
    align-content: center;
    align-items: center;
    width: 350px;
    height: 400px;
    border: 1px solid #333;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);
    margin: 20px;
}

.projects-ul li img {
    width: 350px;
    height: 300px;
}

.projects-ul li p {
    margin: 10% 0 0 35%;
}